<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <span class="ml-5 logo"><img src="https://scontent.fvvi1-2.fna.fbcdn.net/v/t1.0-9/99138498_108166570906198_6740738930968100864_n.jpg?_nc_cat=102&ccb=2&_nc_sid=85a577&_nc_ohc=BOY_PeIXCBgAX-D9nkM&_nc_ht=scontent.fvvi1-2.fna&oh=ffb9c712b6e93aa6db0c91cfb753c3da&oe=5FD6E817" height="100" width="100" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"<%=link_to "INICIO", views_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%=link_to "PRODUCTOS", products_index_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "CERRAR SESION", destroy_user_session_path, method: :delete, class:"btn btn-outline-success"%></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
	<h1 class="text-center my-5">Carrito</h1>


	<% if @orders.length < 1 %>
		<h3>NO hay productos en el carrito</h3>
	<% else %>
	<table class="table table-bordered">
	<thead>
		<th>Foto</th>
		<th>Nombre</th>
		<th>Cuanto cuesta y precio</th>
		<th>cantidad</th>
		<th>total del producto</th>
	</thead>

	<tbody>
		<% total = 0 %>
		<% @orders.each do |order| %>
			<% total += (order.product.price * order.quantity) %>
		 	<tr>
		 		<td><%= image_tag(order.product.photo, size: '64x50')%></td>
		 		<td><%= order.product.name%></td>
		 		<td><%=number_to_currency(order.product.price, unit: "BOB$", precision: 0) %></td>
		 		<td><%= order.quantity%></td>
		 		<td><%= number_to_currency((order.product.price*order.quantity), unit: "BOB$", precision: 0)%></td>
		 		<td><%= link_to 'quitar', destroy_order_path(order.id), method: :delete%></td>
		 	</tr>
		 <% end %>
	</tbody>
</table>
<p>total: <%= number_to_currency(total, unit: "BOB$", precision: 0) %></p>

<div class="d-flex">
	<%= link_to 'vaciar carrito', clean_orders_path, method: :delete, class:"btn btn-lg btn-outline-success mr-2" %>

	<%= link_to  pre_pay_billings_path do %>
			<i class=" fa-3x fab fa-cc-paypal"></i>
	<% end %>
</div>

<% end %>

</div>
