<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <span class="ml-5 logo"><img src="https://scontent.fvvi1-2.fna.fbcdn.net/v/t1.0-9/99138498_108166570906198_6740738930968100864_n.jpg?_nc_cat=102&ccb=2&_nc_sid=85a577&_nc_ohc=BOY_PeIXCBgAX-D9nkM&_nc_ht=scontent.fvvi1-2.fna&oh=ffb9c712b6e93aa6db0c91cfb753c3da&oe=5FD6E817" height="100" width="100" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"<%=link_to "CITAS", appoinments_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%=link_to "PRODUCTOS", products_index_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "CERRAR SESION", destroy_user_session_path, method: :delete, class:"btn btn-outline-success"%></a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class=" col-6 slider text-center">
      <h2 class="my-5">TU CITA ESTA AGENDADA PARA EL:</h2>
      <p>
        <strong>Dia:</strong>
        <%= @appoinment.day.strftime("%d/%m/%Y %H:%M") %>
      </p>

      <p>
        <strong>Servicio:</strong>
        <%= @appoinment.service.name %>
      </p>

      <p>
        <strong>Usuario:</strong>
        <%= @appoinment.user.name %>
      </p>

      <%= link_to 'Modificar La Cita', edit_appoinment_path(@appoinment), class:"btn btn-outline-success" %>

      <h2 class="my-5">DIRIGITE A:</h2>
      <h3><i class="fas fa-map-marker-alt"></i>AV FUERZA AEREA ESQUINA JUAN PABLO II</h3>

    </div>

    <div class=" col-6 show">

    </div>
  </div>
</div>
