<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <span class="ml-5 logo"><img src="https://scontent.fvvi1-2.fna.fbcdn.net/v/t1.0-9/99138498_108166570906198_6740738930968100864_n.jpg?_nc_cat=102&ccb=2&_nc_sid=85a577&_nc_ohc=BOY_PeIXCBgAX-D9nkM&_nc_ht=scontent.fvvi1-2.fna&oh=ffb9c712b6e93aa6db0c91cfb753c3da&oe=5FD6E817" height="100" width="100" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"<%= link_to "INICIO", views_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to 'VER CARRITO', orders_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to "CERRAR SESION", destroy_user_session_path, method: :delete, class:"btn btn-outline-success"%></a>
      </li>
    </ul>
  </div>
</nav>





  <h1>Productos</h1>

    <table>
      <thead>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Cuanto cuesta y precio</th>
      </thead>

      <tbody>
        <% @products.each do |prod| %>
        <tr>
          <td><%= image_tag(prod.photo, size: '200x150')%></td>
          <td><%= prod.name%></td>
          <td><%= number_to_currency(prod.price, unit: "BOB$", precision: 0)%></td>
          <td><%= link_to 'agregar al carro', product_orders_path(prod.id), method: :post %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
